/* Theme Switch */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.5em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}



div {
	display: inline-block;
}

#first {
	/*border-radius: 20px;*/
	/*/*background: rgba(255, 255, 255, 0.15);*/
	/*/*backdrop-filter: blur(2px) saturate(180%);*/
	/*border-radius: 2rem;*/
	/*box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), */
	/*	inset 0 4px 20px rgba(255, 255, 255, 0.3);*/
	margin-top: 10px;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #e8e8e8;
	/*background: white;*/
	color: #212121;
	font-family: "Arial", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
		font-style: normal;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

p,li {
	margin: 10px;
	font-size: 30px;
}

#name {
	width: 40%;
	text-align: center;
}

.topnav {
	background: rgba(232,232,232,0.7);
	width: 100%;
	backdrop-filter: blur(50px) saturate(20%);
	position: sticky;
	top: 0;
	overflow: hidden;
}

.blinker {
	font-size: 100px;
	display: inline-block;
	animation: blink 0.7s step-start infinite;
}

@keyframes blink {
50% {
	opacity: 0;
}
}

a.a {
	color: #412121;
}

a.a:hover,
a.a:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

.topnav a {
	z-index: 10;
	float: left;
	margin: 5px;
	display: block;
	color: #a8a8a8;
	text-align: center;
	transition: 0.2s color;
	/*padding: 14px 16px;*/
	text-decoration: none !important;
	/*font-size: 17px;*/
}

.box {
	padding: 66px;
}

.line {
	/*margin: 10px;*/
	border-bottom: 1px solid #535353;
	width: 100%;
}

.mejpeg {
	background: url("me.jpeg");
	background-size: cover;
	z-index: 2;
	/*height: auto;*/
	width: 100%;
	border-radius: 20px;
}

.glass {
	padding: 20px;
	/*text-align: justify;*/
	/*margin: auto;*/
	z-index: -1;
	width: 50%;
	border-radius: 20px;
	/*/*background: rgba(255, 255, 255, 0.15);*/
	/*/*backdrop-filter: blur(2px) saturate(180%);*/
	border-radius: 2rem;
	box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
		inset 0 4px 20px rgba(255, 255, 255, 0.3);
	margin-left: 10px;
	margin-right: 10px;
}

.right {
	float: right;
}

.text {
	width: 40%;
	padding: 20px;
	text-align: left;
	/*margin-left: 20px;*/
	font-size: 70px;
}

.w3-text-silver {
	font-size: 20px;
	color: #323232;
}

.content {
	width: 50%;
	padding: 20px;
	/*text-align: justify;*/
	margin: auto;
	z-index: -1;
	/*height: 500px;*/
}

.left {
	float: left;
}

.topnav a:hover {
	/*background-color: #ddd;*/
	color: #212121;
}

.dark-mode {
	background-color: #212121;
	color: #e8e8e8;
	.topnav a:hover {
		color: #e8e8e8;
	}
}

.topnav a.active {
	/*background-color: #04AA6D;*/
	/*border-radius: 20px;*/
	float: right;
	/*color: white;*/
}

.topnav a.name {
	font-family: Chomsky;
}

.topnav .icon {
	display: none !important;
}

.links {
	margin: auto;
	max-width: 80%;
	overflow: auto;
	white-space: nowrap;
	display: inline-block;
}

.w3-opacity {
	font-size: 20px;
}

.w3-container {
	width: 100%;
	display: block;
}

@media screen and (max-width: 1200px) {
	.awardimg {display: none;}
	.blinker {display: none;}
	.topnav a {display: none;}
	.topnav .icon {
		float: left;
		margin: 5px;
		display: block !important;
	}
	.box {
		padding-top: 4px;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 0;
	}
	.text {
		font-size: 40px;
		width: 100%;
		text-align: left;
		padding: 5px;
	}
	.content {
		padding: 2px;
		width: auto;
	}
	.right {
		float: left;
	}
	#name {
		width: 100%;
		text-align: center;
	}
	.glass {
		width: auto;
	}
	#first {
		padding: 2px !important;
	}
}

@media screen and (max-width: 1200px) {
	.topnav.responsive {
		position: fixed;
		height: 100%;
		width: 100%;
		padding: 20px;
		.icon {
			float: left;
		}
		.menubtn {
			visibility: hidden;     /* hides the main element’s content */
			display: inline-block;  /* or block/inline — needed to render :after */
			width: 1em;             /* optional, depends on layout */
			height: 1em;
			position: relative;     /* if you want to position :after */
		}

		.menubtn:after {
			visibility: visible;    /* ensures :after is visible */
			content: "\2715";       /* the ❌ character */
			display: block;         /* or inline/block/inline-block based on need */
			position: absolute;     /* optional for positioning */
			top: 0;
			left: 0;
		}
		button {
			display: block;
		}
		.theme {
			display: block;
		}
	}
	/*.topnav.responsive .icon {*/
	/*	position: absolute;*/
	/*	font-size: 20px;*/
	/*	right: 0;*/
	/*	top: 0;*/
	/*}*/
	.topnav.responsive a {
		float: none;
		display: inline-block;
		text-align: left;
	}
}

.activebutton {
	--primary-color: #412121;
	--secondary-color: #fff;
	--hover-color: #000021;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: var(--secondary-color);
	padding: 1em 1.8em;
	background: var(--primary-color);
	display: flex !important;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	color: white;
	font-weight: bold;
}

.activebutton .arrow-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.activebutton .arrow {
	margin-top: 1px;
	width: var(--arrow-width);
	height: var(--arrow-stroke);
	position: relative;
	transition: 0.2s;
}

.activebutton {
	background: var(--primary-color);
}

.activebutton .arrow::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	border: 1px solid var(--primary-color);
	border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
	/*background: #fff;*/
	display: inline-block;
	top: -3px;
	right: 3px;
	transition: 0.2s;
	padding: 3px;
	transform: rotate(-45deg);
}

.activebutton:hover {
	background-color: var(--hover-color);
}

.arrow {
	background: var(--primary-color) !important;
}

.activebutton:hover .arrow:before {
	right: 0;
}

button {
	--primary-color: #412121;
	--secondary-color: #fff;
	--hover-color: #111;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	padding: 1em 1.8em;
	background: none;
	transition: 0.2s color;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
}
